
<!-- <div class="carousel-wrapper">
  <div class="carousel-container">
    <img
      class="carousel-image marco-canon"
      [src]="fotosFiltradas()[indiceActual].url"
      [alt]="fotosFiltradas()[indiceActual].descripcion"
    />
  </div>
  <p>{{fotosFiltradas()[indiceActual].url}} - {{fotosFiltradas()[indiceActual].descripcion}}</p>
</div> -->
<div class="carousel-wrapper">
  <div class="carousel-container">
    <img
      class="carousel-image"
      [src]="fotosFiltradas()[indiceActual].url"
      [alt]="fotosFiltradas()[indiceActual].descripcion"
    />
    <!-- Botón de pausa / play -->
    <button class="pause-btn" (click)="togglePause()">
      {{ isPaused ? '▶️' : '⏸️' }}
    </button>
    <p>{{fotosFiltradas()[indiceActual].url}} - {{fotosFiltradas()[indiceActual].descripcion}}</p>
  </div>
</div>


