<!-- Filtro de categoría -->
<!-- <div class="filtro">
  <label>Filtrar por categoría:</label>
  <select [(ngModel)]="categoriaSeleccionada">
    <option value="">Todas</option>
    <option *ngFor="let c of categorias" [value]="c">{{ c }}</option>
  </select>
</div> -->

<!-- Formulario para subir imagen -->
<!-- <div class="formulario-subida">
  <input type="file" (change)="onFileSelected($event)" />
  <input type="text" [(ngModel)]="nuevaDescripcion" placeholder="Descripción" />
  <select [(ngModel)]="nuevaCategoria">
    <option *ngFor="let c of categorias" [value]="c">{{ c }}</option>
  </select>
  <button (click)="agregarImagen()">Agregar imagen</button>
</div> -->

<!-- Galería -->
<!-- Carrusel de fotos -->
<!-- Carrusel con controles -->
<div class="carousel-wrapper">
  <div class="carousel-container">
    <button class="nav prev" (click)="retroceder()">❮</button>
    <img
      class="carousel-image marco-canon"
      [src]="fotosFiltradas()[indiceActual].url"
      [alt]="fotosFiltradas()[indiceActual].descripcion"
    />
    <button class="nav next" (click)="avanzar()">❯</button>
  </div>
  <!-- <div class="info">
    <p class="descripcion">
      {{ fotosFiltradas()[indiceActual].descripcion }}
    </p>
    <p class="fecha">
      Registrada el: {{ fotosFiltradas()[indiceActual].fecha }}
    </p>
  </div> -->
</div>


